pandas
numpy==1.26.4
psycopg2-binary
sqlalchemy
python-dotenv
nltk
spacy
transformers
torch
xgboost
lightgbm
scikit-learn
vaderSentiment
textblob
git+https://github.com/rongardF/tvdatafeed.git
fastapi
uvicorn
pydantic
matplotlib
seaborn
plotly
ta
yfinance
beautifulsoup4
requests
tqdm
joblib
pyyaml